@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-heavy-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}
