@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.title {
  composes: responsiveTitle1 from "./typography.module.css";
}

.mainImage {
  display: block;
  position: relative;
  background: var(--color-very-light-gray);
  width: 100%;
  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.mainContent {
  max-width: 720px;
  padding: 3rem;
  background: #fff;
  @media (--media-min-desktop) {
    margin: 0 0 50px auto;
  }
  @media (--media-max-tablet) {
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
    margin-bottom: 18px;
  }

  @nest & p {
    margin-bottom: 16px;
    font-size: 18px;
  }

  @nest & a {
    color: #003ba2;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
  @nest & ul {
    margin: 2rem 0 3rem 1rem;
  }

  @nest & figure {
    max-width: 100%;
    margin: 20px 0;
  }
  @nest & .mainImage {
    margin-bottom: 30px;
  }
}

.metaContent {
  max-width: 860px;
}

.categories {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from "./typography.module.css";
  margin: 0.5rem 0 0;
}

.metaContainer {
  @media (--media-max-desktop) {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  @media (--media-min-desktop) {
    display: flex;
    align-items: center;
    min-height: 65vh;
  }
  @nest & .mainImage {
    flex: 2;
  }
}

.metaDetails {
  flex: 3;
  padding-right: 20px;
}

.blogTitle {
  font-size: 60px;
  box-shadow: 8px 0px 0 3px #1b1d23, -8px 0px 0 3px #1b1d23;
  color: #07a185;
  background: #1b1d23;
  display: inline;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.01em;
  @media (--media-max-tablet) {
    font-size: 34px;
  }
}
.whoWhen {
  display: flex;
  font-size: 18px;
  margin: 3rem 0 1rem;
  line-height: 1;
  @nest & a {
    color: #07a185;
  }
}
.who {
  margin-right: 8px;
  padding-right: 8px;
  display: block;
  border-right: 1px solid #000;
}
.publishedAt {
}
.category {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  margin-top: 30px;
}
.sidebar {
  @media (--media-min-desktop) {
    position: sticky;
  }
  top: 140px;
  align-self: start;
  margin-bottom: 50px;
}
.share {
  margin-bottom: 50px;
  @nest & a {
    display: block;
    font-size: 28px;
  }
  @nest & h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.sidebarContainer {
  text-align: center;
  @media (--media-max-desktop) {
    display: flex;
    justify-content: space-around;
  }
}

.formContainer {
  border: 1px solid #1b1d23;
  text-align: left;
  padding: 16px 20px 20px;
  align-self: start;
  max-width: ;
  @nest & h2 {
    font-weight: 600;
    font-size: 22px;
    color: #0ea185;
    margin-bottom: 12px;
  }
  @nest & label {
    color: #1b1d23;
    margin-bottom: 4px;
    display: block;
    font-family: var(--base-font-family);
    font-weight: 600;
  }
  @nest & input {
    color: #1b1d23;
    background: #fff;
    border: 1px solid #1b1d23;
    display: block;
    outline: none;
    -webkit-appearance: none;
    padding: 12px;
    font-size: 18px;
    font-family: var(--base-font-family);
    width: 199px;
    @nest &::placeholder {
      color: #1b1d23;
      opacity: 1;
      font-size: 16px;
    }
    @nest &:focus {
      border: 1px solid #07a185;
    }
    @nest &:focus::placeholder {
      opacity: 0;
    }
  }
  @nest & button {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    display: block;
    border: none;
    outline: none;
    background: #1b1d23;
    padding: 10px 18px 12px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-family: var(--base-font-family);
    @nest &:hover {
      background: #023ca2;
    }
  }
  @nest & p {
    color: #ff5959 !important;
    padding-top: 5px;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  @media (--media-min-desktop) {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

.feed {
  @media (--media-min-desktop) {
    @nest & .metaContainer {
      min-height: 300px;
    }
  }
}

.shareWrapper {
  display: inline-block;
}
