@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import '../styles/col.css';
@import '../styles/btn.css';

.root {
  padding: 5em 0;
  @nest & h2 {
    font-size: 45px;
    margin-bottom: 35px;
  }
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.browseMoreNav {
  margin-top: 4rem;

}

.col3 {
  list-style: none;
  justify-content: space-between;
}

.item {
  width: 32%;
}

.btn1 {
  display: inline-block;
}
