@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import '../styles/col.css';
@import '../styles/btn.css';

.root {
  padding: 5em 0;
  @nest & h2 {
    font-size: 42px;
    margin-bottom: 35px;
    @media (--media-max-tablet) {
      line-height: 1.2;
      text-align: center;
    }
  }
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.browseMoreNav {
  margin-top: 4rem;
  @media (--media-max-tablet) {
    margin-top: 1.5rem;
  }
}

.col3 {
  list-style: none;
  justify-content: space-between;
}

.item {
  @media (--media-min-tablet) {
    width: 32%;
  }
  margin-bottom: 20px;
  background: #fff;
  padding-bottom: 22px;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(119, 119, 119, 0.12);
}

.btn1 {
  display: inline-block;
}
