@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: calc(1340px - (20px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit);

  @media (--media-min-small) {
    padding: 2em;
  }
}

.wrapper {

}
