@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import '../styles/btn.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  display: flex;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.branding {
  font-weight: 600;
  flex: 1;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--color-accent);
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}

.siteHeader {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding-top: 15px;
  @nest & .page-content {
    margin-top: 0;
  }
  @media (--media-max-desktop) {
    padding: 8px 0 4px;
  }
}


.siteNav {
  float: right;
  --line-height: var(--base-line-height) * var(--base-font-size) * 2.25;
  line-height: var(--line-height);
  @nest & .btn2 {
    background: #fff;
    border: none;
    box-shadow: -2px 4px 11px 0 rgba(174, 174, 174, 0.25);
  }
  @nest & a {
    margin-left: 15px;
    @nest &:first-letter {
      text-transform: uppercase;
    }
    @media (--media-min-desktop) {
      @nest &:hover {
        text-decoration: none;
      }
    }
    @media (--media-max-desktop) {
      @nest &:hover {
        text-decoration: none;
      }
    }
  }
  @nest & a.btn2:hover {
    color: #fff;

  }

  @nest & a.btn1 {
    margin-bottom: 15px;
    @media (--media-max-desktop) {
      padding: 21px 31px 20px;
      text-align: center;
    }
  }
  @nest & a.btn2  {
    margin-bottom: 15px;
    @media (--media-max-desktop) {
      padding: 21px 31px 20px;
      text-align: center;
    }
  }
  @nest & .navTrigger {
    display: none;
  }

  @nest & .menuIcon {
    display: none;
  }

  @nest & .pageLink {
    @nest &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media (--media-max-tablet) {
    position: absolute;
    top: 9px;
    right: 0;
    border: none;
    border-radius: 5px;
    text-align: right;
    width: 100%;
    @nest & label[for="nav-trigger"] {
      display: block;
      float: right;
      z-index: 2;
      cursor: pointer;
      background: #fff;
      padding: 5px;
      margin-top: 4px;
      margin-right: 10px;
    }
    @nest & .trigger {
      text-align: center;
      padding: 10px;
      background-color: var(--background-color);
    }

    @nest & .menuIcon {
      display: block;
      float: right;
      width: 36px;
      height: 34px;
      line-height: 0;
      text-align: center;
      position: relative;
      @nest &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.21em;
        bottom: 0.21em;
        width: 100%;
        background: linear-gradient(
          to bottom,
          black, black 20%,
          white 20%, white 40%,
          black 40%, black 60%,
          white 60%, white 80%,
          black 80%, black 100%
        );
      }
      @nest & > svg {
        fill: var(--grey-color-dark);
      }
    }

    @nest & input ~ .trigger {
      clear: both;
      display: none;
    }

    @nest & input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    @nest & .pageLink {
      display: block;
      padding: 5px 10px;

      @nest &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
