@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

@import "../styles/home.css";
@import "../styles/btn.css";

.emailSignup {
  position: relative;
  vertical-align: top;
  @nest & label {
    position: absolute;
    font-weight: 500;
    top: -12px;
    left: 16px;
    @nest &:after {
      background: #fff;
      content: "";
      top: 12px;
      left: -5px;
      position: absolute;
      width: 111%;
      height: 50%;
      z-index: 0;
    }
    @nest & span {
      position: relative;
      z-index: 1;
    }
  }
  @nest & input[type="email"] {
    width: 312px;
    margin-right: 18px;
    height: 52px;
    border: solid 1px #9e9f9f;
    font-size: 20px;
    line-height: 1.5;
    padding: 2px 12px;
    @nest &:focus {
    }
    @media (--media-max-desktop) {
      margin-bottom: 20px;
    }
  }
}

.socialProof {
  margin-top: 10px;
  font-weight: 500;
  color: #023ca2;
  font-size: 18px;
}

.btn1 {
  vertical-align: top;
  box-sizing: border-box;
}

.aboveFold {
  padding-top: 170px;
  position: relative;
  z-index: 1;
  @media (--media-max-desktop) {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  @media (--media-min-desktop) {
    background-position: center top;
    background-color: #f7fafc;
    min-height: 560px;
    padding-bottom: 60px;
    position: relative;
  }
  @nest & .btn1 {
    padding: 18px 31px 19px;
  }
  @nest & h1 {
    color: #383838;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 44px;
    letter-spacing: -2.33px;
    line-height: 91px;
    margin-bottom: 18px;
    @media (--media-max-desktop) {
      font-size: 50px;
      line-height: 1.25;
    }
  }
  @nest &:after {
    content: "";
    height: 100%;
    width: 90%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background: url(../images/dashboard-v4@2x.png) no-repeat;
    background-position: right 50%;
    max-width: 780px;
    @media (--media-max-tablet) {
      max-width: 575px;
      width: 100%;
      background-size: contain;
      top: 35px;
    }
    @media (--media-min-tablet) {
      width: 50%;
      background-size: contain;
      top: 10px;
    }
  }
  @media (--media-max-desktop) {
    padding-bottom: 340px;
    @nest &:after {
      background-position: center 90%;
    }
  }
}

.tagline {
  color: #9a9a9a;
  font-family: var(--base-font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.71px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.blurb {
  color: #292929;
  font-family: var(--base-font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.24px;
  line-height: 36px;
  max-width: 555px;
  margin: 0 0 50px;
  @nest & strong {
    font-weight: 600;
  }
}
.cta-container {
  position: relative;
  z-index: 1;
}
.testimonial {
  position: relative;
  z-index: 0;
  max-width: 628px;
  margin: 50px auto 0;
  @nest & blockquote {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: -2px 4px 11px 0 rgba(174, 174, 174, 0.3);
    color: #232225;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-left: -40px;
    padding: 24px 52px 25px 24px;
  }
  @nest & footer {
    margin-bottom: 5px;
  }
  @nest & cite {
    font-style: normal;
  }
}
.author {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  color: #2a2d34;
  padding-right: 8px;
}
.company {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.2px;
  text-align: left;
  text-transform: uppercase;
}

.howItWorks {
  padding: 150px 0 110px;
  text-align: center;
  @media (--media-max-desktop) {
    padding: 120px 0 60px;
  }
  @nest & .btn3 {
    margin-top: 40px;
  }
  @nest & h2 {
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0;
    margin-bottom: 35px;
    text-align: center;
    color: #fff;
  }
  @nest & ol {
    @media (--media-min-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 46px;
    }
    font-size: 60px;
    margin: 0 0 90px;
    justify-content: space-between;
    list-style-position: inside;
    text-align: center;
    color: #fff;
    font-weight: 900;
    @nest & p {
      font-size: 38px;
      letter-spacing: 0.01em;
      color: #fff;
      font-weight: 400;
      margin-top: 0;
      line-height: 1.3;
    }
  }
  @nest & .howCopyContainer {
    font-size: 18px;
    font-weight: 400;
    @nest & .link {
      color: #003ba2;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
.bonus {
  font-size: 22px;
  max-width: 720px;
  margin: 0 auto 50px;
  color: #fff;
}
.formContainer {
  display: inline-block;
  position: relative;
}

.aboveFold {
  background: #f7fafc;
  min-height: 0;
  padding-bottom: 266px;

  @media (--media-min-desktop) {
    padding-bottom: 340px;
    @nest & .emailSignup {
      @nest & label {
        left: 110px;
      }
    }
  }
  @media (--media-min-desktop) {
    @nest & .emailSignup input[type="email"] {
      width: 100%;
      border-box: content;
      box-sizing: border-box;
    }
    @nest & .btn1 {
      vertical-align: top;
      box-sizing: border-box;
    }
    @nest & .scrollCTA {
      bottom: 0px;
      width: 100%;
      box-sizing: border-box;
      @media (--media-min-tablet) {
        bottom: -50px;
      }
    }
  }
  @nest & h1 {
    margin-bottom: 26px;
    font-size: 3.5rem;
  }
  @nest & .tagline {
    color: #404040;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 16px;
  }
  @nest & .questradeLogo {
    width: 156px;
    padding-bottom: 40px;
  }
  @nest & .emailSignup {
    margin-top: 30px;
  }
}
.ctaContainer {
}
.scrollCTA {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 20px 40px 8px 40px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  left: 50%;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-transform: uppercase;
  color: #0036a4;
  text-decoration: none;
  text-align: center;
  bottom: -175px;
  @nest & p {
    font-size: 14px;
    color: #0036a4;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0.05em;
  }
  @nest & span {
    font-size: 28px;
    -webkit-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
    display: block;
    margin-bottom: 0;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
}
.benefits {
  background: #04a287;
  padding-bottom: 80px;
  margin-top: -85px;
  z-index: 2;
  position: relative;
  padding: 30px 0 60px;
  @media (--media-min-desktop) {
    padding: 210px 0 140px;
    -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0, 50% 15%);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0, 50% 15%);
  }
  @nest & h2 {
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    color: #fff;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
    }
  }
  @nest & p {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 50px;
  }
  @nest & ul {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    text-align: center;
    font-size: 1.2rem;
    vertical-align: top;
    @nest & li {
      justify-content: flex-start;
      align-content: flex-start;
    }
  }
  @nest & img {
    max-width: 120px;
    display: block;
    margin: 0 auto 20px;
  }
  @nest & iframe {
    max-width: 100%;
    box-shadow: 0 2px 22px 10px rgba(62, 62, 62, 0.27);
  }
  @nest & .videoWrapper {
    margin-top: 60px;
    @media (--media-min-desktop) {
      margin-top: 95px;
    }
  }
  @nest & .copyContainer {
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    @media (--media-min-desktop) {
      padding-top: 120px;
      margin-left: 55px;
      width: 55%;
    }
  }
}
.notifications {
  @nest & img {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}
.flexContainer {
  @media (--media-min-desktop) {
    display: flex;
  }
}

.email-signup {
  position: relative;
  vertical-align: top;
  @nest & label {
    position: absolute;
    font-weight: 500;
    top: -12px;
    left: 16px;
    @nest &:after {
      background: #fff;
      content: "";
      top: 12px;
      left: -5px;
      position: absolute;
      width: 111%;
      height: 50%;
      z-index: 0;
    }
    @nest & span {
      position: relative;
      z-index: 1;
    }
  }
  @nest & input[type="email"] {
    width: 312px;
    margin-right: 18px;
    height: 52px;
    border: solid 1px #9e9f9f;
    font-size: 20px;
    line-height: 1.5;
    padding: 2px 12px;
    @nest &:focus {
    }
    @media (--media-min-desktop) {
      margin-bottom: 20px;
    }
  }
}

.security {
  background: var(--brand-color-3);
  color: #fff;
  padding: 30px 20px;
  @nest & > div {
    padding: 140px 0;
    @media (--media-min-desktop) {
      background: url(../images/lock.png) no-repeat;
      background-position: right center;
    }
    @media (--media-max-desktop) {
      padding: 50px 0;
    }
  }
  @nest & h2 {
    color: #ffffff;
    font-family: var(--base-font-family);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5.19px;
    margin-bottom: 25px;
    text-transform: uppercase;
    @nest & span {
      color: var(--brand-color);
    }
  }
  @nest & ul {
    max-width: 786px;
    font-family: var(--base-font-family);
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: 46px;
    padding-left: 20px;
    margin-bottom: 20px;
    @media (--media-max-desktop) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  @nest & p {
    max-width: 786px;
    font-family: var(--base-font-family);
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: 46px;
    margin-bottom: 50px;
    @media (--media-max-desktop) {
      font-size: 20px;
      line-height: 1.5;
    }
    @nest & a {
      font-size: 26px;
      color: var(--brand-color);
      font-family: var(--base-font-family);
      font-weight: 400;
      @media (--media-max-desktop) {
        font-size: 20px;
      }
    }
  }
}

.feature {
  @nest & h2 {
    font-size: 40px;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
    }
  }
}

.feature {
  padding-top: 170px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (--media-max-desktop) {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  @media (--media-min-desktop) {
    background-position: center top;
    background-color: #f7fafc;
    min-height: 560px;
    padding-bottom: 60px;
    position: relative;
  }
  @nest & .btn1 {
    padding: 18px 31px 19px;
  }
  @nest & h2 {
    color: #383838;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -2.33px;
    line-height: 91px;
    margin-bottom: 18px;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
      line-height: 1.25;
    }
  }
  @nest & p {
    font-size: 24px;
  }
  @nest &:after {
    content: "";
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background: url(../images/reporting@2x.png) no-repeat;
    background-position: right 35%;
    max-width: 820px;
    @media (--media-max-tablet) {
      max-width: 575px;
      width: 100%;
      background-size: contain;
    }
    @media (--media-min-tablet) {
      width: 50%;
      background-size: contain;
    }
  }
  @media (--media-max-desktop) {
    padding-bottom: 370px;
    @nest &:after {
      background-position: center bottom;
    }
  }
}
.feature3 {
  padding-top: 170px;
  position: relative;
  z-index: 1;
  @media (--media-max-desktop) {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  @media (--media-min-desktop) {
    background-position: center top;
    background-color: #f7fafc;
    min-height: 360px;
    padding-bottom: 120px;
    position: relative;
  }
  @nest & .btn1 {
    padding: 18px 31px 19px;
  }
  @nest & h2 {
    color: #383838;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -2.33px;
    line-height: 1.2;
    margin-bottom: 18px;
    max-width: 600px;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
      line-height: 1.25;
    }
  }
  @nest & p {
    font-size: 24px;
  }
  @nest &:after {
    content: "";
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background: url(../images/oneclick.gif) no-repeat;
    background-position: right 35%;
    max-width: 820px;
    @media (--media-max-tablet) {
      max-width: 575px;
      width: 100%;
      background-size: contain;
    }
    @media (--media-min-tablet) {
      width: 50%;
      background-size: contain;
    }
  }
  @media (--media-max-desktop) {
    padding-bottom: 300px;
    @nest &:after {
      background-position: center bottom;
    }
  }
}

.feature2 {
  padding-top: 0px;
  position: relative;
  z-index: 1;
  @media (--media-max-desktop) {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  @media (--media-min-desktop) {
    background-position: center top;
    background-color: #f7fafc;
    min-height: 360px;
    padding-bottom: 30px;
    position: relative;
  }
  @nest & .btn1 {
    padding: 18px 31px 19px;
  }
  @nest & h2 {
    color: #383838;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -2.33px;
    line-height: 91px;
    margin-bottom: 18px;
    text-align: right;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
      line-height: 1.25;
    }
  }
  @nest & p {
    font-size: 24px;
    text-align: right;
    margin: 0 0 0 auto;
  }
  @nest &:after {
    content: "";
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50px;
    position: absolute;
    z-index: 0;
    background: url(../images/cash-management@2x.png) no-repeat;
    background-position: 10% 0%;
    max-width: 820px;
    @media (--media-max-tablet) {
      max-width: 575px;
      width: 100%;
      background-size: contain;
    }
    @media (--media-min-tablet) {
      width: 46%;
      left: 16px;
      background-size: contain;
      background-position: 0 70px;
    }
  }

  @media (--media-max-desktop) {
    padding-bottom: 160px;
    @nest &:after {
      background-position: center bottom;
    }
  }
}

.feature4 {
  padding-top: 0px;
  position: relative;
  z-index: 1;
  @media (--media-max-desktop) {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  @media (--media-min-desktop) {
    background-position: center top;
    background-color: #f7fafc;
    min-height: 360px;
    padding-bottom: 30px;
    position: relative;
  }
  @nest & .btn1 {
    padding: 18px 31px 19px;
  }
  @nest & h2 {
    color: #383838;
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 46px;
    letter-spacing: -2.33px;
    line-height: 91px;
    margin-bottom: 18px;
    text-align: right;
    @media (--media-max-desktop) {
      font-size: 2.5rem;
      line-height: 1.25;
    }
  }
  @nest & p {
    font-size: 24px;
    text-align: right;
    margin: 0 0 0 auto;
  }
  @nest &:after {
    content: "";
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 50px;
    position: absolute;
    z-index: 0;
    background: url(../images/targets@2x.png) no-repeat;
    background-position: right 35%;
    @media (--media-max-tablet) {
      max-width: 568px;
      width: 100%;
      background-size: contain;
    }
    @media (--media-min-tablet) {
      width: 48%;
      background-size: contain;
      left: 0;
    }
  }
  @media (--media-max-desktop) {
    padding-bottom: 340px;
    @nest &:after {
      background-position: center bottom;
    }
  }
}

.registerEmail {
  margin-bottom: 10px;
}
