@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.tutorials {
  overflow: hidden;
  position: relative;

  @nest & h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }
  @nest &:before {
    content: '';
    width: 875px;
    height: 965px;
    position: absolute;
    right: -400px;
    top: 0;
    transform: rotate(-45deg);
    border-radius: 4px;
    box-shadow: 4px 4px 24px 0 rgba(2, 74, 61, 0.28);
    background-image: radial-gradient(circle at 48% 46%, #04a287, #0eb599, #04a287 165%);
    z-index: 0;
  }
  @nest &:after {
    content: '';
    width: 875px;
    height: 965px;
    position: absolute;
    left: -400px;
    top: 1000px;
    transform: rotate(-45deg);
    border-radius: 4px;
    box-shadow: 4px 4px 24px 0 rgba(2, 74, 61, 0.28);
    background-image: radial-gradient(circle at 48% 46%, #04a287, #0eb599, #04a287 165%);
    z-index: 0;
  }
  @nest &.post-page {
    @nest & p:first-of-type {
      text-align: left;
    }
  }
  @nest & .post-page .wrapper {
    max-width: calc(1500px - (20px * 2));
  }
}
.post-content {
  position: relative;
  z-index: 1;
}
.posts {
  margin-top: 30px;
  @media (--media-min-desktop) {
    margin-top: 100px;
  }
}
.post {
  box-shadow: 4px 4px 24px 0 rgba(57, 62, 75, 0.2);
  background-color: #ffffff;
  position: relative;
  margin-bottom: 50px;
  list-style: none;
  @media (--media-min-desktop) {
    margin-bottom: 150px;
  }
  @nest &:nth-child(even){
    border-right: solid 6px #2a2d34;
    padding: 25px;
    @media (--media-min-desktop) {
      padding: 35px 30px 35px 53%;
      margin-right: 40px;
    }
    @nest & .videoContainer {
      padding: 0;
      margin: 20px 0;
      background: #fff;
      box-shadow: 4px 4px 24px 0 rgba(80, 84, 91, 0.44);
      border-radius: 6px;
      width: 100%;
      @nest & iframe {
        width: 100%;
      }
      @media (--media-min-desktop) {
        max-width: 53%;
        position: absolute;
        left: -40px;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  @nest &:nth-child(odd){
    border-left: solid 6px #2a2d34;
    padding: 25px;
    @media (--media-min-desktop) {
      padding: 35px 53% 35px 30px;
      margin-left: 40px;
    }
    @nest & .videoContainer {
      padding: 0;
      margin: 20px 0;
      background: #fff;
      box-shadow: 4px 4px 24px 0 rgba(80, 84, 91, 0.44);
      border-radius: 6px;
      left: auto;
      transform: none;
      width: 100%;
      @nest & iframe {
        width: 100%;
      }
      @media (--media-min-desktop) {
        max-width: 53%;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        margin: 0;
      }
    }
  }
  @nest & h2 a{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.36px;
    color: #048770;
    line-height: 1;
  }
  @nest & h2 {
    padding-top: 0;
    line-height: 1;
    margin-bottom: 12px;
  }
  @nest & p {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.content {
  position: relative;
  z-index: 2;
}
.firstLine {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  max-width: 650px;
  margin: 0 auto 45px;
}

.readBtn {
  color: #04a388;
  font-weight: 600;
}
