.tutorials {
  overflow-x: hidden;

  @nest & h1 {
    position: relative;
    z-index: 2;
  }
  @nest &:before {
    content: '';
    width: 875px;
    height: 965px;
    position: absolute;
    right: -400px;
    top: 0;
    transform: rotate(-45deg);
    border-radius: 4px;
    box-shadow: 4px 4px 24px 0 rgba(2, 74, 61, 0.28);
    background-image: radial-gradient(circle at 48% 46%, #04a287, #0eb599, #04a287 165%);
    z-index: 0;
  }
  @nest &:after {
    content: '';
    width: 875px;
    height: 965px;
    position: absolute;
    left: -400px;
    top: 1000px;
    transform: rotate(-45deg);
    border-radius: 4px;
    box-shadow: 4px 4px 24px 0 rgba(2, 74, 61, 0.28);
    background-image: radial-gradient(circle at 48% 46%, #04a287, #0eb599, #04a287 165%);
    z-index: 0;
  }
  @nest & .post-content {
    position: relative;
    z-index: 1;
  }
  @nest & .posts {
    margin-top: 30px;
    @include mq($from: desktop) {
      margin-top: 100px;
    }
  }
  @nest & .post {
    box-shadow: 4px 4px 24px 0 rgba(57, 62, 75, 0.2);
    background-color: #ffffff;
    position: relative;
    margin-bottom: 50px;
    @include mq($from: desktop) {
      margin-bottom: 150px;
    }
    @nest &:nth-child(even){
      border-right: solid 6px #2a2d34;
      padding: 25px;
      @include mq($from: desktop) {
        padding: 35px 30px 35px 53%;
        margin-right: 40px;
      }
      @nest & iframe {
        padding: 0;
        margin: 20px 0;
        background: #fff;
        box-shadow: 4px 4px 24px 0 rgba(80, 84, 91, 0.44);
        border-radius: 6px;
        max-width: 100%;
        @include mq($from: desktop) {
          max-width: 53%;
          position: absolute;
          left: 0;
          margin: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    @nest &:nth-child(odd){
      border-left: solid 6px #2a2d34;
      padding: 25px;
      @include mq($from: desktop) {
        padding: 35px 53% 35px 30px;
        margin-left: 40px;
      }
      @nest & iframe {
        padding: 0;
        margin: 20px 0;
        background: #fff;
        box-shadow: 4px 4px 24px 0 rgba(80, 84, 91, 0.44);
        border-radius: 6px;
        left: auto;
        transform: none;
        max-width: 100%;
        @include mq($from: desktop) {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          left: auto;
          max-width: 53%;
          margin: 0;
        }
      }
    }
    @nest & h2 a{
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -0.36px;
      color: #048770;
      line-height: 1;
    }
    @nest & h2 {
      margin-bottom: -30px;
      padding-top: 0;
      line-height: 1;
    }
  }
  @nest &.post-page {
    @nest & p:first-of-type {
      text-align: left;
    }
  }
  @nest & .post-page .wrapper {
    max-width: calc(1500px - (20px * 2));
  }
}
.content {
  position: relative;
  z-index: 2;
}
.firstLine {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  max-width: 650px;
  margin: 0 auto 45px;
}
